.heroImage {
  height: 350px;
  position: relative;
}

.heroImage img {
  object-fit: cover;
  object-position: 50% 55%;
}

.heroText {
  padding: 0 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--cta-color);
}

.heroText h1 {
  margin-bottom: 0.5rem;
}

.heroText h4 {
  margin-top: 0;
  font-size: clamp(1.2rem, 1.4rem, 1.8rem);
}

.heroText h4 p {
  all: unset;
  color: var(--title-color);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.1px;
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .heroImage {
    height: 460px;
  }
  .heroText {
    padding: 1rem 0.5rem;
    text-align: center;
    border-bottom: 1px solid var(--cta-color);
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {
  .heroText {
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--cta-color);
  }
  .heroText h4 {
    font-size: clamp(1.2rem, 1.8rem, 1.8rem);
  }
}
