.content {
  margin: 0 0 2rem 0;
  padding-right: 0;
}

.content h3 {
  margin: 1rem 0;
}

.content h4 {
  margin: 1.5rem 0 0.5rem 0;
}

.content h5 {
  margin: 0.5rem 0;
}

.content h5:first-of-type {
  margin-top: 2rem;
}

.content p {
  margin: 0 0 1.2rem 0;
  line-height: 170%;
}

.content iframe {
  width: 100%;
  height: auto;
}

/* Lists */

.content ul,
.content ol {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f4f4f4;
  border-left: 3px solid var(--cta-color);
}

.content ul li,
.content ol li {
  margin: 0.75rem 0;
  padding-right: 0.5rem;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25px;
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .content {
    margin: 0 4rem 2rem 0;
    padding-right: 0;
  }
  .content iframe {
    width: 500px;
    height: 281px;
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {
}
