.annualReportContainer {
  padding: 2rem 0;
}

.annualReport {
  margin: 1rem 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  border: 1px solid var(--link-color);
  transition: all linear 0.2s;
}

.annualReport:hover {
  border: 1px solid var(--link-color-accent);
  transform: scale(1.02);
}

.annualReport img {
  width: 25px;
}

.annualReport h5 {
  margin: 1rem;
}

.report h5:first-of-type {
  font-size: 1.2rem;
}

.annualReport h5:last-of-type {
  display: none;
}

.annualReport button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #FFF;
  background-color: var(--cta-color);
  border-radius: 0.2rem;
  border: none;
  transition: all linear 0.2s;
}

.annualReport:hover button {
  background-color: var(--link-color-accent);
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .reportContainer {
    padding: 2rem 0 1rem 0;
  }
  .annualReport h5:last-of-type {
    display: block;
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {}