.annualMeetingsContainer {
  padding: 2.5rem 0 3rem;
  display: flex;
  flex-direction: column;
}

.annualMeetings h4 {
  margin: 2rem 0 1rem;
  padding: 0 1rem;
}

.annualMeetingsSidebar {
  padding: 0 1rem;
}

.sidebarTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.25rem 0;
  padding: 0.75rem;
  border: 1px solid grey;
  border-radius: var(--border-radius);
}

.sidebarTitle h5 {
  margin: 0;
}

.sidebarTitle img {
  width: 15px;
}

.sidebarList {
  margin: 0;
  padding: 0 1rem;
  border: 1px solid grey;
  border-radius: var(--border-radius);
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

.listItem h5 {
  margin: 0;
}

.listItem img {
  width: 12px;
  height: 12px;
}

.selected {
  text-decoration: underline;
}

.annualMeeting {
  margin: 1rem 1rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  border: 1px solid var(--link-color);
  transition: all linear 0.2s;
}

.annualMeeting:hover {
  border: 1px solid var(--link-color-accent);
  transform: scale(1.02);
}

.annualMeeting img {
  width: 25px;
}

.annualMeeting h5 {
  margin: 1rem;
}

.annualMeeting h5:first-of-type {
  font-size: 1.2rem;
}

.annualMeeting h5:last-of-type {
  display: none;
}

.annualMeeting button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #FFF;
  background-color: var(--cta-color);
  border-radius: 0.2rem;
  border: none;
  transition: all linear 0.2s;
}

.annualMeeting:hover button {
  background-color: var(--link-color-accent);
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .annualMeetingsContainer {
    padding: 4rem 0 3rem;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .annualMeetings h4 {
    margin: 0;
  }
  .annualMeetingContainer {
    padding: 2rem 0 1rem 0;
  }
  .annualMeetingsSidebar {
    margin: 0 1rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
  }
  .sidebarTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.25rem 0;
    padding: 0.75rem;
    border: none;
    border-radius: none;
  }
  .sidebarList {
    margin: 0;
    padding: 0 1rem;
    border: none;
    border-radius: none;
  }
  .annualMeeting {
    display: grid;
    grid-template-columns: 5% 40% 30% 15%;
    justify-content: space-between;
    align-items: center;
  }
  .annualMeeting h5:last-of-type {
    display: block;
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {}