/* Fonts */

@font-face {
  font-family: "Freight";
  src: url("/fonts/freight/freight-text-book.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-bold.otf");
  font-weight: 800;
}

/* Root */

:root {
  --pri-color: #15203D;
  --sec-color: #0C4B66;
  /* --cta-color: #0C4B66; */
  --cta-color: #D59F75;
  --title-color: #151515;
  --title-color-accent: #fff;
  --text-color: #121212;
  --text-color-accent: #fff;
  /* --link-color: #15203D; */
  --link-color: #D59F75;
  /* --link-color-accent: #0C4B66; */
  --link-color-accent: #b17242;
  --border-radius: 2px;
  --shadow: 0px 0px 5px 0px #C5CDD9;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Proxima Nova', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Initial styles (Mobile) */

/* Text */

h1, h2, h3, h4, h5 {
  color: var(--title-color);
  font-family: 'Freight', sans-serif;
  letter-spacing: 1.1px;
}

h1 {
  font-size: clamp(2.4rem, 3.2rem, 3.4rem);
}

h2 {
  font-size: clamp(2.4rem, 2.8rem, 3.2rem);
}

h3 {
  font-size: clamp(2rem, 2.4rem, 2.8rem);
}

h4 {
  font-size: clamp(1.2rem, 1.8rem, 1.8rem);
  line-height: 38px;
}

h5 {
  font-size: 1rem;
  font-size: clamp(1rem, 1.125rem, 1.4rem);
  line-height: 25px;
}

p {
  color: var(--text-color);
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25px;
}

/* Links */

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-accent);
}

a:hover, button:hover {
  cursor: pointer;
}

/* Lists */

ul, ol {
  padding: 0;
  list-style-type: none;
}

/* Containers */

.container-fluid {
  width: 100%;
}

.container-wide {
  max-width: 1100px;
  margin: 0 auto;
}

.container-small {
  max-width: 900px;
  margin: 0 auto;
}

.title-container {
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid var(--cta-color);
}

.title-container h1 {
  margin-bottom: 0.5rem;
}

.title-container h4 {
  margin-top: 0;
}

.text-container {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--cta-color);
}

/* Content containers */

.text-content {
  padding: 0 2rem 0 0;
}

.text-content h3 {
  margin: 0 0 0.5rem 0;
}

/* Images */

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-content img {
  width: 100%;
}

/* Articles */

.article {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-top: 2rem;
}

.article .text-left {
  padding-right: 3rem;
}

.article .text-left h5 {
  margin: 0.25rem 0;
}

.article .text-left h5:first-of-type {
  margin-top: 1rem;
}

.article .text-left .sub-heading {
  margin: 1.5rem 0 0.5rem 0;
}

.article .text-left p {
  margin: 0 0 1.2rem 0;
  line-height: 170%;
}

/* Sidebars */

.sidebar {
  padding-top: 2rem;
}

/* Styles for tablet */

@media screen and (min-width: 768px) {}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {}