/* Fonts */

@font-face {
  font-family: "Freight";
  src: url("/fonts/freight/freight-text-book.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova/proxima-nova-bold.otf");
  font-weight: 800;
}

/* Root */

:root {
  --pri-color: #15203D;
  --sec-color: #0C4B66;
  /* --cta-color: #0C4B66; */
  --cta-color: #D59F75;
  --title-color: #151515;
  --title-color-accent: #fff;
  --text-color: #121212;
  --text-color-accent: #fff;
  /* --link-color: #15203D; */
  --link-color: #D59F75;
  /* --link-color-accent: #0C4B66; */
  --link-color-accent: #b17242;
  --border-radius: 2px;
  --shadow: 0px 0px 5px 0px #C5CDD9;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Proxima Nova', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Initial styles (Mobile) */

/* Text */

h1, h2, h3, h4, h5 {
  color: var(--title-color);
  font-family: 'Freight', sans-serif;
  letter-spacing: 1.1px;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: clamp(2.4rem, 2.8rem, 3.2rem);
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: clamp(1.2rem, 1.8rem, 1.8rem);
  line-height: 38px;
}

h5 {
  font-size: 1rem;
  font-size: clamp(1rem, 1.125rem, 1.4rem);
  line-height: 25px;
}

p {
  color: var(--text-color);
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 180%;
}

/* Links */

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-accent);
}

a:hover, button:hover {
  cursor: pointer;
}

/* Lists */

ul, ol {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f4f4f4;
  border-left: 3px solid var(--cta-color);
}

ul li, ol li {
  margin: 0.75rem 0;
  color: var(--text-color);
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25px;
}

/* Images */

figure {
  margin: 1rem 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: unset;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {}