.factContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid var(--cta-color);
}

.content {
  margin-right: 0;
}

.content h3 {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
}

.image {
  display: none;
  position: relative;
  object-fit: contain;
  width: 100%;
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .image {
    display: block;
  }
  .content {
    margin-right: 2rem;
  }
  .content h3 {
    font-size: 2.4rem;
  }
}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {
  .factContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem 0 6rem 0;
  }
}