.footerContainer {
  border-top: 1px solid var(--cta-color);
}

.footerContent h5 {
  margin-bottom: 0.5rem;
}

.subMenu {
  padding: 0;
  background-color: unset;
  border-left: none;
  list-style-type: none;
}

.subMenu .menuItem {
  margin: 0.75rem 0;
}

.subMenu .menuItem:first-of-type {
  margin-top: 0.5rem;
}

.subMenu .menuItem span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subMenu .menuItem img {
  width: 17px;
  margin-right: 0.5rem;
}

.rougeSpan {
  color: var(--link-color)
}

.bottomContainer {
  margin: 1rem 0;
  border-top: 1px solid var(--cta-color);
}

.bottomContent {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.bottomContent ul {
  padding: 0;
  background-color: unset;
  border-left: none;
  list-style-type: none;
}

.bottomContent h5 {
  margin: 0.5rem 0;
}

.bottomLeft {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bottomLeft .menuItem {
  margin: 0.5rem 0;
}

.bottomLeft .menuItem a {
  color: var(--text-color);
}

.bottomLeft .menuItem a:hover {
  color: var(--link-color-accent);
}

/* Styles for tablet */

@media screen and (min-width: 768px) {}

/* Styles for laptop and up */

@media screen and (min-width: 1024px) {
  .footerContainer {
    border-top: none;
  }
  .containerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--cta-color);
  }
  .bottomContainer {
    margin: 0;
  }
  .bottomContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .bottomContent h5 {
    margin: 0.5rem 0;
  }
  .bottomLeft {
    flex-direction: row;
    justify-content: flex-start;
  }
  .bottomLeft .menuItem {
    margin-right: 2rem;
  }
  .bottomRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .bottomRight h5:first-of-type {
    margin-right: 2rem;
  }
}